extends layout.pug

block content
  h1(style='text-align:center') Cheers Loves Cavalries 'Ere!
  div(style='text-align:center')
    img(src='http://www.gosugamers.net/files/images/features/2015/october/Portrait%20-%20Tracer.jpg', style='text-align:center')
  h1(style='text-align:center') Under Development
