.menu
  .container-fluid
    .navbar-header
      a(href='/') Cavalries 'Ere
    div
      ul.nav.navbar-nav.navbar-right
        li
          if loggedIn
            a(href='/user/signout')
              span.glyphicon.glyphicon-user
              |  Sign Out
          else
            a(href='/register')
              span.glyphicon.glyphicon-user
              |  Register
        //- li
        //-   a(href='#')
        //-     span.glyphicon.glyphicon-log-in
        //-     |  Login
